<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="PhotosSourcePath" value="F:\Photos" />
    <add key="PhotosOrganizeBasePath" value="F:\OrganizedPhotos" />
    <add key="IsCopyEnabled" value="true" />
  </appSettings>
</configuration>